* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

header {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 10vh;
}

main {
	height: 70vh;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 20vh;
}

#packages {
    display: flex;
}
